substitutions:
  device_name: office-testing
  device_verbose_name: "Office - Testing board"
  baud_rate: "115200"
  friendly_name: ${device_name}

packages:
  time: !include packages/config_sntp.yaml
  wifi: !include packages/config_wifi.yaml

api:
  encryption:
    key: !secret api_encryption_key
  actions:
    - action: uart_write_string
      variables:
        command: string
      then:
        - lambda: |-
            static const char *const TAG = "service.uart_write_string";
            ESP_LOGD(TAG, "Sending: %s", command.c_str());
            id(tf_uart).write_str(command.c_str());
            const uint8_t to_send[3] = {0xFF, 0xFF, 0xFF};
            id(tf_uart).write_array(to_send, sizeof(to_send));

    - action: uart_write_hex
      variables:
        command: int[]
      then:
        - lambda: |-
            static const char *const TAG = "service.uart_write_hex";
            std::vector<uint8_t> uint8_vector(command.begin(), command.end());
            id(tf_uart).write_array(uint8_vector.data(), uint8_vector.size());

    - action: upload_tft
      variables:
        url: string
      then:
        - lambda: |-
            ESP_LOGD("action.command", "Action: upload_tft");
            ESP_LOGD("action.command", "  url: '%s'", url.c_str());
            if (!url.empty())
              disp1->set_tft_url(url.c_str());
            disp1->upload_tft(${baud_rate}, true);

    # Sends custom commands directly to the display for dynamic interactions and updates.
    - action: command
      variables:
        cmd: string  # Command string to be sent. Refer to the Nextion Instruction Set for supported commands: https://nextion.tech/instruction-set/
      then:
        - lambda: |-
            ESP_LOGD("action.command", "Action: command");
            ESP_LOGD("action.command", "  cmd: '%s'", cmd.c_str());
            disp1->send_command(cmd.c_str());

button:
  - <<: !include packages/button_restart.yaml
  - <<: !include packages/button_restart_safe_mode.yaml
  #- <<: !include button_wifi_restart.yaml

debug:

display:
  - id: disp1
    platform: nextion
    tft_url: http://homeassistant.local:8123/local/test.tft

esp8266:
  board: esp12e

esphome:
  name: ${device_name}
  friendly_name: ${device_verbose_name}
#  on_boot:
#    priority: 250  # At this priority, WiFi is initialized.
#    then:
#      - lambda: set_baud_rate->execute(stoi(baud_rate->state));

external_components:
  - source: github://pr#9429
    components: [nextion]
    refresh: 1h

logger:
  baud_rate: 0
  level: VERBOSE

ota:
  - id: my_ota
    platform: esphome
    password: !secret ota_password

sensor:
  - <<: !include packages/sensor_uptime.yaml
  #- <<: !include packages/sensor_wifi.yaml
  #- <<: !include packages/sensor_wifi_signal_percentage.yaml
  - <<: !include packages/sensor_esp_vcc_voltage.yaml

status_led:
  pin:
    number: GPIO5
    inverted: True
    allow_other_uses: true

switch:
  - platform: gpio
    pin:
      number: GPIO5
      allow_other_uses: true
    name: "Wemos Status LED"
    inverted: true
    id: wemos_status_led
    icon: "mdi:led-on"
    entity_category: config
  - platform: gpio
    pin: GPIO16
    name: Relay 1
    id: relay1
  #- platform: gpio
  #  pin: GPIO14
  #  name: Relay 2
  #  id: relay2
#  - platform: gpio
#    pin: GPIO12
#    name: Relay 3
#    id: relay3
#  - platform: gpio
#    pin: GPIO13
#    name: Relay 4
#    id: relay4

text_sensor:
  - <<: !include packages/text_sensor_version.yaml

uart:
  - id: tf_uart
    tx_pin: GPIO13
    rx_pin: GPIO12
    baud_rate: ${baud_rate}
    #debug:
    #  direction: BOTH
    #  dummy_receiver: false
    #  after:
    #    delimiter: [0xFF, 0xFF, 0xFF]
    #  sequence:
    #    - lambda: UARTDebug::log_string(direction, bytes);

wifi:
  power_save_mode: HIGH
